
body {
  background-color: aquamarine;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 80px; /* adjust this value to match the height of the navigation menu */
}

.logo {
  color: rgb(6, 150, 160);
  font-size: 20px;
  padding-left: 10px;
  letter-spacing: 5px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo img{
  max-width: 10%;
}

h1{
  font-size: 25px;
}


nav {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  border-bottom: 2px solid #003f69;
  padding-bottom: 5px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding-right: 2em;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s ease-in-out;
}

nav ul li a.active,
nav ul li a:hover {
  border-bottom-color: #ffcc00;
}


section {
  height: 100vh;
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

a {
  position: relative;
  color: #014b45;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: #005f9e;
  transition: width 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
}


.info {
  width: 1000px;
  margin-right: 50px;
}

/* Add border to all divs with class 'info', 'attractions', and 'meals' */
.info, .attractions, .meals {
  border: 2px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  width: calc(33.33% - 20px);
  margin-bottom: 50px;
}

.info:before, .attractions:before, .meals:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid #ccc;
  border-radius: 12px;
  z-index: -1;
}


/* Add hover effect to all images inside elements with class 'attraction' or 'meal' */
.attraction img:hover, .meal img:hover {
  opacity: 0.8;
}

/* Change font family and size for all h2 tags */
h3 {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* Change font family and size for all list items */
li {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 1200px;
  margin: 5em auto;
  max-width: 100%;
}

/* Align all h2 tags to the center */

/* Add padding and margin to all divs with class 'container' */

#attractions {
  margin:auto;
}

.attractions img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}


#meal-list {
  max-width: 100%;
  margin-bottom: 1rem;
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 1rem;
}

#meal-list img {
  max-width: 60%;
  height: auto;
  margin-bottom: 0.5rem;
  object-fit: contain; /* to fit the image within its container */
}

#meal-list .ingredients {
  margin-top: 0.5rem;
}

#meal-list .ingredients ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#meal-list .ingredients ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 1rem;
}




